# Ignored vscode files
.vscode/
workspace

# Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

**/tfplan
**/builds
**/backend.tf
**/remotebackend.tf
**/provider.tf

# Reports files
Reports/*
.idea/
# Terramate files
**/terramate.tm.hcl
/vbkps/
/resources/local_files/scripts/rendered_files/
/.$crossplane initial architecture.drawio.bkp
/crossplane initial architecture.drawio
/crossplane initial architecture.drawio.png
